* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.banner {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(126, 112, 112, 0), rgba(17, 0, 0, 16)), url("backgraund.jpg");
}

.navbar {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 20px 35px;
    cursor: pointer;
}

.navbar ul li {
    display: inline-block;
    margin: 0px 100px;
}

.navbar ul li a {
    color: white;
    padding: 2px 15px;
    margin: 0px 10px;
    text-decoration: none;
}

.navbar ul li a:hover {
    border-bottom: 3px solid rgb(199, 170, 170);
    transition: .1s;
}

.content {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    width: 40%;
    top: 40%;
    left: 120px;
}

.content h1 {
    font-size: 70px;
    color: white;
}

.content p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
}

.content button {
    margin: 0px 20px;
    font-weight: bold;
    width: 150px;
    padding: 15px 0px;
    border-radius: 5px;
}
#buy {
    background-color: #1a46c1;
}
#buy:hover{
    background-color: #0f318d;
}
#buy .buyegld {
    color: white;
}
#stake {
    background-color: transparent;
    border: 1px solid white;
}
#stake:hover{
    background-color: white;
}
.stakeegld{
    border: 1px solid white;
    font-weight: bold;
    text-align: center; 
    padding: 11px 25px 15px 25px;
    background-color: black;
    border-radius: 5px;
    color: white;
}

.stakeegld:hover{
    font-weight: bold;
    text-align: center; 
    padding: 11px 25px 15px 25px;
    background-color: white;
    border-radius: 5px;
    color:black;
}